---
layout: default
---
//- This is our standard GG2 website template: standard header and footer
.page-wrapper

    //- Background markup
    .background-container
        .extend-center-column-outer
            //-.extend-center-column-inner
        .background-header
        - for(var i = 0; i < 15; i++)
            div(class="background-stripe#{i}")

    .page-content

        //- Is this the homepage (index.html)?
        - var isHome = getDocument().getMeta().get('isHome')
        - var showSubNav = getDocument().getMeta().get('showSubNav')

        //- This nav menu is inserted into the HTML later (see "mixin nav")
        mixin nav
            if !isHome
                .header-nav-spacer
            nav(class=isHome ? "header-nav" : "header-nav-thin")
                ul.header-nav-list
                    //-li.header-nav-item
                    //-li.header-nav-item
                    //-li.header-nav-item: a(href="./") Home
                    //-li.header-nav-item: a(href="./download.html") Download
                    //-li.header-nav-item: a(href="./forums/") Forums
                    //-li.header-nav-item: a(href="./irc.html?breakcache") IRC
                    - var navDocs = getCollection('documents').findAll({showInNav: true}, function(a, b) { return a.get('navPos') > b.get('navPos')});
                    - navDocs.forEach(function(doc) {
                        li.header-nav-item(class=getDocument() === doc ? "link-to-self" : null)
                            a(href=getRelativeURL(getDocument().get('url'), doc.get('url')))= doc.get('navTitle')
                    - });
                    //-li.header-nav-item
                    //-li.header-nav-item
                    //-li.header-nav-end
            if showSubNav
                nav.header-sub-nav
                    ul.header-sub-nav-list
                        - var navDocs = getCollection('documents').findAll({showInSubNav: true}, function(a, b) { return a.get('subNavPos') > b.get('subNavPos')});
                        - navDocs.forEach(function(doc) {
                            li.header-sub-nav-item(class=getDocument() === doc ? "link-to-self" : null)
                                a(href=getRelativeURL(getDocument().get('url'), doc.get('url')))= doc.get('subNavTitle')
                        - });

        if isHome
            header.fullwidth-container
                a.logo-full(href="./"): img(src="./img/logo.png", alt="Gang Garrison 2")
                mixin nav
        else
            header.fullwidth-container.narrow-header
                a.logo-mini(href="./")
                mixin nav


        .center-column.fullwidth-container
            != content

footer
    .flattrbutton
        a.FlattrButton(style="display:none;", rev="flattr;button:compact;", href="http://www.ganggarrison.com")
        noscript
            a(href="http://flattr.com/thing/304133/Gang-Garrison-2", target="_blank")
                img(src="http://api.flattr.com/button/flattr-badge-large.png", alt="Flattr this", title="Flattr this", border="0")
    a(href="./impressum.html") Legal notice (Impressum)
